---
---

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* Mixins */

@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}
@mixin max-width($media) {
 @media only screen and (max-width: $media) { @content; }
}

/* Variables */

$min-width--sm: 480px;
$min-width--md: 720px;
$min-width--lg: 960px;
$min-width--xl: 1200px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);
$max-width--lg: ($min-width--xl - 1);

/* Base */

  a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000; 
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  max-width: 975px;
  margin: 0 auto;
  padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

main {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.element {
   display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}


.logo {
  text-align: center;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  margin-top: 3rem;
  color: #ccc;
  font-style: italic;
}

.post {
text-align: center;
max-width: 65%;
margin: 2rem auto 0;
}

h1 {
  font-size: 36px;
  color: gray;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 0.25rem;
}

p { 
font-size: 21px;
margin-top: 1rem;
}

h2 {
  color: #ccc;
}

.post {
  ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;  
  }
  li {
      padding-right: .5rem;
  }
  p {
  text-align: center;
  }
}

.post-title {
  text-transform: none;
  color: #222;
}



