---
layout: default
---
<div class="intro">{{ content }}</div>

<nav class="tag-navigation button-group">
		<button class="button is-checked" data-filter="*">Everything</button>
		{% for item in site.data.navigation.header %}
		<button class="button" data-filter=".{{ item.title | downcase }}">{{ item.title }}</button>
		{% endfor %}
  </nav>

<div class="grid">
<div class="grid-sizer"></div>
{% for post in site.posts %}
<article class="grid-item {{ post.tags | join: ' ' | downcase }}">
  <a href="{{ post.url }}"><img src="{{ post.image }}"/ alt="{{ post.title }} image"></a>
</article>
{% endfor %}
</div>
